USE [StretchCeilingProject]
GO
/****** Object:  Table [dbo].[Celling]    Script Date: 22-Jan-17 07:58:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Celling](
	[Id] [uniqueidentifier] NOT NULL,
	[ImageUrl] [varchar](200) NULL,
	[Title] [nvarchar](100) NULL,
	[Cost] [nvarchar](100) NOT NULL,
	[Category] [int] NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CellingDescription]    Script Date: 22-Jan-17 07:58:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CellingDescription](
	[Id] [uniqueidentifier] NOT NULL,
	[Procs] [nvarchar](2000) NOT NULL,
	[ImageUrls] [nvarchar](2000) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Celling] ([Id], [ImageUrl], [Title], [Cost], [Category], [Description]) VALUES (N'fbdc8149-3317-4f71-be54-0029296e55e9', N'https://pp.vk.me/c837538/v837538618/1f23f/7NT9wdU-VrQ.jpg', N'Глянцевый', N'', 1, N'Тем кто живет ярко и смело. Реализуйте ваши самые смелые идеи, и сделайте это с блеском.')
INSERT [dbo].[Celling] ([Id], [ImageUrl], [Title], [Cost], [Category], [Description]) VALUES (N'788ab0a4-ee18-4b0d-98c2-095fd2639451', N'https://pp.vk.me/c837538/v837538618/1f1f5/VClVKvwRZ_A.jpg', N'Матовый', N'', 1, N'Для любителей классического дизайна, их вид сдержан, консервативен и элегантен.')
INSERT [dbo].[Celling] ([Id], [ImageUrl], [Title], [Cost], [Category], [Description]) VALUES (N'8131b4df-4c5b-4203-aa31-0f6f42752167', N'https://pp.vk.me/c837538/v837538618/1f1fe/FP9XtjYxr_Q.jpg', N'Сатиновый', N'', 1, N'Идеальный вариант, дополняющий совершенно любой интерьер, не привлекая к себе пристального внимания.')
INSERT [dbo].[CellingDescription] ([Id], [Procs], [ImageUrls], [Description]) VALUES (N'8131b4df-4c5b-4203-aa31-0f6f42752167', N'["Надёжное прилегание к основе.","Сочетаемость с интерьером.","Защита от затопления сверху.","Создание презентабельного вида комнаты, офиса."]', N'["https://pp.vk.me/c837538/v837538618/1f25b/xn4FjVET6W4.jpg"]', N'Сатиновые натяжные потоки - выполнены из микрошероховатой ткани, аналогичной матовому потолку по своей технической характеристике. По внешнему облику сатиновый потолок похож на глянцевый натяжной потолок.')
