@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

<h2>Контакты</h2>

<div class="col-xs-12">
    <div>Телефон: +7-919-825-25-84</div>
    <div>Почта: ko4299@yandex.ru</div>
</div>  