@{
    ViewBag.Title = "Description";
    Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

<article class="col-xs-10 col-xs-offset-1 clearfix">
    Глянцевые натяжные потолки ( лаковые, как называют в народе) – это гладкое полотно, обладающее зеркальным эффектом.
</article>

<article class="col-xs-4 col-xs-offset-1">
    Преимущества:
    
    <ul class="list-group">
        <li class="list-group-item">Визуально расширяют пространство комнаты</li>
        <li class="list-group-item">Имеют яркую и богатую цветовую палитру</li>
        <li class="list-group-item">экологичны</li>
        <li class="list-group-item">безопасны</li>
        <li class="list-group-item">долговечны</li>
        <li class="list-group-item">возможность использовать необычные осветительные конструкции</li>
        <li class="list-group-item">легче переносят заливы.</li>
    </ul>
</article>