@using StretchCeilingProject.Common
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

<article class="col-xs-12">
    <h2 class="centred">Натяжные потолки в Саратове и Энгельсе.</h2>
    
    <p>Наша компания предлагает услуги по монтажу натяжных потолков известных европейских и отечественных производителей в Саратове, Энгельсе и области. У нас вы найдете широчайший ассортимент.</p>
    <p>Трудно сделать выбор? Наши специалисты помогут, детально рассказав о достоинствах и особенностях каждого материала, фактуры, цветовой гаммы.</p>
    
    <h3>Наши основные преимущества:</h3>
    <ul class="advantages">
        <li>Минимальные сроки изготовления заказа</li>
        <li>Доступные цены – от 250 ₽ кв.м</li>
        <li>качество</li>
        <li>широкий выбор цветов и фактур</li>
        <li>монтажники с многолетним опытом</li>
        <li>Бесплатный замер и быстрота расчета стоимости  - за 10 мин</li>
        <li>индивидуальный подход к каждому клиенту</li>
    </ul>
</article>

