@using StretchCeilingProject.Common
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

<article class="col-xs-12">
    Наши основные преимущества :

    <ul class="list-group">
        <li class="list-group-item">Минимальные сроки изготовления заказа</li>
        <li class="list-group-item">Доступные цены – от 250 руб. кВ.м</li>
        <li class="list-group-item">качеством</li>
        <li class="list-group-item">широкий выбор цветов и фактур</li>
        <li class="list-group-item">монтажники с многолетним опытом</li>
        <li class="list-group-item">Бесплатный замер и быстрота расчета стоимости  - за 10 мин</li>
        <li class="list-group-item">индивидуальный подход к каждому клиенту</li>
    </ul>
</article>

@if (Constant.IsDebug)
{
    using (Html.BeginForm("Add", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" />

        <input type="submit" value="Go" />
    }
}