@{
    ViewBag.Title = "СтройТрест - натяжные потолки - отзывы";
    ViewBag.Description = "СтройТрест Строй Трест - отзывы о компании, качество работ, хороший ремонт, недорогой ремонт";
    Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

<h2>Reviews</h2>