@model KeyValuePair<string, StretchCeilingProject.Entity.CellingDescription>

@{
    ViewBag.Title = "СтройТрест - натяжные потолки - подробнее о потолке";
    ViewBag.Description = "СтройТрест Строй Трест - описание потолка, картинки потолка, ремонт в квартире в Саратове";
    Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

<div class="centred cellingDescriptionAsd">@Model.Key</div>

<div class="col-xs-12">
    <p >@Model.Value.Description</p>

    <h2 class="centred cellingDescriptionTitle">Его сильные стороны</h2>

    <ul class="advantages">
        @foreach (var item in Model.Value.Procs)
        {
            <li>@item</li>
        }
    </ul>

    <h3>Примеры работ</h3>

    @foreach (var imageId in Model.Value.ImageIds)
    {
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="celling">
                <img src="@imageId" alt="cellingImage" />
            </div>
        </div>
    }
</div>