
@{
    ViewBag.Title = "СтройТрест - ошибка";
    ViewBag.Description = "СтройТрест Строй Трест - страница не найдена";
    Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

<h2>Ошибка</h2>

<div>Страница не найдена</div>