
@{
    ViewBag.Title = "СтройТрест - ошибка";
    ViewBag.Description = "СтройТрест Строй Трест - неизвестная ошибка";
    Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

<h2>Ошибка</h2>

<div>Произошла неизвестная ошибка, повторите запрос позднее</div>

